<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_80a73a728374e0f705cc710afe8773b9 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
    <script src="https://cdn.jsdelivr.net/npm/leaflet-polylineoffset@1.1.1/leaflet.polylineoffset.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet-textpath@1.2.3/leaflet.textpath.min.js"></script>
</head>
<body>
    
    
            <div class="folium-map" id="map_80a73a728374e0f705cc710afe8773b9" ></div>
        
</body>
<script>
    
    
            var map_80a73a728374e0f705cc710afe8773b9 = L.map(
                "map_80a73a728374e0f705cc710afe8773b9",
                {
                    center: [17.4143, 78.4628],
                    crs: L.CRS.EPSG3857,
                    zoom: 14,
                    zoomControl: true,
                    preferCanvas: false,
                    popup: "hi",
                    autoOpen: true,
                }
            );

            

        
    
            var tile_layer_9fc009939b1e838f3c6a968c98801f0c = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_80a73a728374e0f705cc710afe8773b9);
        
    
            var marker_9584dc0e447517e5532643b27940d095 = L.marker(
                [17.4011, 78.563],
                {"autoOpen": true}
            ).addTo(map_80a73a728374e0f705cc710afe8773b9);
        
    
        var popup_e4263c2a8eeb134ceaae2a27b5f7f945 = L.popup({"maxWidth": "100%"});

        
            
                var html_89dc9e7614be5cecd8d727e15cf0e7e7 = $(`<div id="html_89dc9e7614be5cecd8d727e15cf0e7e7" style="width: 100.0%; height: 100.0%;">Hello, world!</div>`)[0];
                popup_e4263c2a8eeb134ceaae2a27b5f7f945.setContent(html_89dc9e7614be5cecd8d727e15cf0e7e7);
            
        

        marker_9584dc0e447517e5532643b27940d095.bindPopup(popup_e4263c2a8eeb134ceaae2a27b5f7f945)
        ;

        
    
    
            var marker_91da2f6c47ce150271e9d2ffb83eb727 = L.marker(
                [17.5076, 78.4301],
                {}
            ).addTo(map_80a73a728374e0f705cc710afe8773b9);
        
    
            marker_91da2f6c47ce150271e9d2ffb83eb727.bindTooltip(
                `<div>
                     Street 1
                 </div>`,
                {"sticky": true,"auto_open" : true}
            );
        
    
            var marker_dff6dfa2fe099a491696fdf17c28888b = L.marker(
                [17.3673, 78.3744],
                {}
            ).addTo(map_80a73a728374e0f705cc710afe8773b9);
        
    
            marker_dff6dfa2fe099a491696fdf17c28888b.bindTooltip(
                `<div>
                     Street 2
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_f9a477a9a3444b4dc944dbed3a8f9596 = L.marker(
                [17.3662, 78.4412],
                {}
            ).addTo(map_80a73a728374e0f705cc710afe8773b9);
        
    
            marker_f9a477a9a3444b4dc944dbed3a8f9596.bindTooltip(
                `<div>
                     Street 3
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_0dfe210bb8cac2d547301155b884f106 = L.marker(
                [17.4011, 78.563],
                {}
            ).addTo(map_80a73a728374e0f705cc710afe8773b9);
        
    
            marker_0dfe210bb8cac2d547301155b884f106.bindTooltip(
                `<div>
                     Street 4
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_4f5656cb16c6fbc59bfab4fbb6dcca8c = L.marker(
                [17.2654, 78.4301],
                {}
            ).addTo(map_80a73a728374e0f705cc710afe8773b9);
        
    
            marker_4f5656cb16c6fbc59bfab4fbb6dcca8c.bindTooltip(
                `<div>
                     Street 5
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_06d5b12079bab6c3dc0bc4a4b10847fe = L.marker(
                [17.179, 78.6834],
                {}
            ).addTo(map_80a73a728374e0f705cc710afe8773b9);
        
    
            marker_06d5b12079bab6c3dc0bc4a4b10847fe.bindTooltip(
                `<div>
                     Street 6
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_fdce6a54885470c8c4e476a597029e66 = L.marker(
                [17.4532, 78.9875],
                {}
            ).addTo(map_80a73a728374e0f705cc710afe8773b9);
        
    
            marker_fdce6a54885470c8c4e476a597029e66.bindTooltip(
                `<div>
                     Street 7
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_53c0f150580f068ff0152c65ee7db805 = L.marker(
                [17.2095, 78.2301],
                {}
            ).addTo(map_80a73a728374e0f705cc710afe8773b9);
        
    
            marker_53c0f150580f068ff0152c65ee7db805.bindTooltip(
                `<div>
                     Street 8
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_4901bdba7ebccebf5405fa399f88026a = L.marker(
                [17.4011, 78.563],
                {}
            ).addTo(map_80a73a728374e0f705cc710afe8773b9);
        
    
            var icon_40825c9dfbacf248b32e17165b77d870 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fire", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_4901bdba7ebccebf5405fa399f88026a.setIcon(icon_40825c9dfbacf248b32e17165b77d870);
        
    
            var poly_line_2fb15f5cb50265255fa3178f72dbeffc = L.polyline(
                [[17.5076, 78.4301], [17.3673, 78.3744]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 0.5, "stroke": true, "weight": 3}
            ).addTo(map_80a73a728374e0f705cc710afe8773b9);
        
    
            var poly_line_offset_4820f8ab1f5d1655774b10ceaee84b78 = L.polyline(
                [[17.5076, 78.4301], [17.43745, 78.40225], [17.3673, 78.3744]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": [10, 100], "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "offset": 0, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_80a73a728374e0f705cc710afe8773b9);
        
    
            poly_line_2fb15f5cb50265255fa3178f72dbeffc.setText(
                "0.15 km",
                {"align": "center", "below": false, "center": true, "fontSize": 60, "offset": 10, "opacity": 0.7, "orientation": 0, "repeat": false, "textColor": "black", "weight": 0}
            );
        
    
            var poly_line_51899de4cdf691b36afa7e6efb6d6176 = L.polyline(
                [[17.3673, 78.3744], [17.3662, 78.4412]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 0.5, "stroke": true, "weight": 3}
            ).addTo(map_80a73a728374e0f705cc710afe8773b9);
        
    
            var poly_line_offset_08044692993c5a8ad7bd2e79ee760768 = L.polyline(
                [[17.3673, 78.3744], [17.36675, 78.4078], [17.3662, 78.4412]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": [10, 100], "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "offset": 0, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_80a73a728374e0f705cc710afe8773b9);
        
    
            poly_line_51899de4cdf691b36afa7e6efb6d6176.setText(
                "0.07 km",
                {"align": "center", "below": false, "center": true, "fontSize": 60, "offset": 10, "opacity": 0.7, "orientation": 0, "repeat": false, "textColor": "black", "weight": 0}
            );
        
    
            var poly_line_afcabd9a1f22f93ed348b6cd1e237712 = L.polyline(
                [[17.4011, 78.563], [17.3673, 78.3744]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 0.5, "stroke": true, "weight": 3}
            ).addTo(map_80a73a728374e0f705cc710afe8773b9);
        
    
            var poly_line_offset_1289ecee85790498956920a684505066 = L.polyline(
                [[17.4011, 78.563], [17.3842, 78.4687], [17.3673, 78.3744]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": [10, 100], "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "offset": 0, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_80a73a728374e0f705cc710afe8773b9);
        
    
            poly_line_afcabd9a1f22f93ed348b6cd1e237712.setText(
                "0.19 km",
                {"align": "center", "below": false, "center": true, "fontSize": 60, "offset": 10, "opacity": 0.7, "orientation": 0, "repeat": false, "textColor": "black", "weight": 0}
            );
        
    
            var poly_line_3a64577da5b5f2b94c666d1d0b204143 = L.polyline(
                [[17.2654, 78.4301], [17.4011, 78.563]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 0.5, "stroke": true, "weight": 3}
            ).addTo(map_80a73a728374e0f705cc710afe8773b9);
        
    
            var poly_line_offset_ca02864576b7301db231c683d3a9e975 = L.polyline(
                [[17.2654, 78.4301], [17.33325, 78.49655], [17.4011, 78.563]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": [10, 100], "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "offset": 0, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_80a73a728374e0f705cc710afe8773b9);
        
    
            poly_line_3a64577da5b5f2b94c666d1d0b204143.setText(
                "0.19 km",
                {"align": "center", "below": false, "center": true, "fontSize": 60, "offset": 10, "opacity": 0.7, "orientation": 0, "repeat": false, "textColor": "black", "weight": 0}
            );
        
    
            var poly_line_3f8b94efe6f9984ceb7cfb97c5fc7a37 = L.polyline(
                [[17.179, 78.6834], [17.5076, 78.4301]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 0.5, "stroke": true, "weight": 3}
            ).addTo(map_80a73a728374e0f705cc710afe8773b9);
        
    
            var poly_line_offset_0850920774eaf53b923f0242a404c09b = L.polyline(
                [[17.179, 78.6834], [17.3433, 78.55675], [17.5076, 78.4301]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": [10, 100], "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "offset": 0, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_80a73a728374e0f705cc710afe8773b9);
        
    
            poly_line_3f8b94efe6f9984ceb7cfb97c5fc7a37.setText(
                "0.41 km",
                {"align": "center", "below": false, "center": true, "fontSize": 60, "offset": 10, "opacity": 0.7, "orientation": 0, "repeat": false, "textColor": "black", "weight": 0}
            );
        
</script>
</html>