<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_f8d864709df164d37189b88e4a0b2a97 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
    <script src="https://cdn.jsdelivr.net/npm/leaflet-polylineoffset@1.1.1/leaflet.polylineoffset.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet-textpath@1.2.3/leaflet.textpath.min.js"></script>
</head>
<body>
    
    
            <div class="folium-map" id="map_f8d864709df164d37189b88e4a0b2a97" ></div>
        
</body>
<script>
    
    
            var map_f8d864709df164d37189b88e4a0b2a97 = L.map(
                "map_f8d864709df164d37189b88e4a0b2a97",
                {
                    center: [17.4143, 78.4628],
                    crs: L.CRS.EPSG3857,
                    zoom: 14,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_8eda112525c674defbd013c2e4b43b12 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_f8d864709df164d37189b88e4a0b2a97);
        
    
            var marker_22bea5586da3d4f79faa28bd26b6759c = L.marker(
                [17.4011, 78.563],
                {"autoOpen": true}
            ).addTo(map_f8d864709df164d37189b88e4a0b2a97);
        
    
        var popup_3cd8cdb7de265e7d9ef7240eda23e18c = L.popup({"maxWidth": "100%"});

        
            
                var html_921a955d6dda9ad87075b6b322823923 = $(`<div id="html_921a955d6dda9ad87075b6b322823923" style="width: 100.0%; height: 100.0%;">Hello, world!</div>`)[0];
                popup_3cd8cdb7de265e7d9ef7240eda23e18c.setContent(html_921a955d6dda9ad87075b6b322823923);
            
        

        marker_22bea5586da3d4f79faa28bd26b6759c.bindPopup(popup_3cd8cdb7de265e7d9ef7240eda23e18c)
        ;

        
    
    
            var marker_29b821721134fbed650632330f813224 = L.marker(
                [17.5076, 78.4301],
                {}
            ).addTo(map_f8d864709df164d37189b88e4a0b2a97);
        
    
            marker_29b821721134fbed650632330f813224.bindTooltip(
                `<div>
                     Street 1
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_72d64b8c1e6b8ea94ee027dd2c683658 = L.marker(
                [17.3673, 78.3744],
                {}
            ).addTo(map_f8d864709df164d37189b88e4a0b2a97);
        
    
            marker_72d64b8c1e6b8ea94ee027dd2c683658.bindTooltip(
                `<div>
                     Street 2
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_6ae343031cd2c1732caeeff74c4ca798 = L.marker(
                [17.3662, 78.4412],
                {}
            ).addTo(map_f8d864709df164d37189b88e4a0b2a97);
        
    
            marker_6ae343031cd2c1732caeeff74c4ca798.bindTooltip(
                `<div>
                     Street 3
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_7c94f1467b4bf5ce7d83b34f598e2922 = L.marker(
                [17.4011, 78.563],
                {}
            ).addTo(map_f8d864709df164d37189b88e4a0b2a97);
        
    
            marker_7c94f1467b4bf5ce7d83b34f598e2922.bindTooltip(
                `<div>
                     Street 4
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_f1d0b29f025b39a785b69cac5c3299be = L.marker(
                [17.2654, 78.4301],
                {}
            ).addTo(map_f8d864709df164d37189b88e4a0b2a97);
        
    
            marker_f1d0b29f025b39a785b69cac5c3299be.bindTooltip(
                `<div>
                     Street 5
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_b0af4023fe9689f512ffa690b7c9bb3e = L.marker(
                [17.179, 78.6834],
                {}
            ).addTo(map_f8d864709df164d37189b88e4a0b2a97);
        
    
            marker_b0af4023fe9689f512ffa690b7c9bb3e.bindTooltip(
                `<div>
                     Street 6
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_7e5e93372d4c6d8bf96c52dfa9118bb9 = L.marker(
                [17.4532, 78.9875],
                {}
            ).addTo(map_f8d864709df164d37189b88e4a0b2a97);
        
    
            marker_7e5e93372d4c6d8bf96c52dfa9118bb9.bindTooltip(
                `<div>
                     Street 7
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_c520ef14ab848ced0c0450095aae9e12 = L.marker(
                [17.2095, 78.2301],
                {}
            ).addTo(map_f8d864709df164d37189b88e4a0b2a97);
        
    
            marker_c520ef14ab848ced0c0450095aae9e12.bindTooltip(
                `<div>
                     Street 8
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_df3ec5843206e06b6799b468d5196c63 = L.marker(
                [17.4011, 78.563],
                {}
            ).addTo(map_f8d864709df164d37189b88e4a0b2a97);
        
    
            var icon_c494f46ca7f12839988eef09dff66c09 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "fire", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_df3ec5843206e06b6799b468d5196c63.setIcon(icon_c494f46ca7f12839988eef09dff66c09);
        
    
            var poly_line_7f88e25a75467dc34a5ae3716c1e08ed = L.polyline(
                [[17.5076, 78.4301], [17.3673, 78.3744]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 0.5, "stroke": true, "weight": 3}
            ).addTo(map_f8d864709df164d37189b88e4a0b2a97);
        
    
            var poly_line_offset_24ec7511218dc131d370b5a0b902110a = L.polyline(
                [[17.5076, 78.4301], [17.43745, 78.40225], [17.3673, 78.3744]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": [10, 100], "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "offset": 0, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_f8d864709df164d37189b88e4a0b2a97);
        
    
            poly_line_7f88e25a75467dc34a5ae3716c1e08ed.setText(
                "0.15 km",
                {"align": "center", "below": false, "center": true, "fontSize": 60, "offset": 10, "opacity": 0.7, "orientation": 0, "repeat": false, "textColor": "black", "weight": 0}
            );
        
    
            var poly_line_3a486a252775b3e35d665ae506fa87a9 = L.polyline(
                [[17.4011, 78.563], [17.3662, 78.4412]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 0.5, "stroke": true, "weight": 3}
            ).addTo(map_f8d864709df164d37189b88e4a0b2a97);
        
    
            var poly_line_offset_99ff731b0d97e56c0e45ac0c65fa6686 = L.polyline(
                [[17.4011, 78.563], [17.38365, 78.5021], [17.3662, 78.4412]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": [10, 100], "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "offset": 0, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_f8d864709df164d37189b88e4a0b2a97);
        
    
            poly_line_3a486a252775b3e35d665ae506fa87a9.setText(
                "0.13 km",
                {"align": "center", "below": false, "center": true, "fontSize": 60, "offset": 10, "opacity": 0.7, "orientation": 0, "repeat": false, "textColor": "black", "weight": 0}
            );
        
    
            var poly_line_ec9c08f40412a730c82df69151edf5ec = L.polyline(
                [[17.2654, 78.4301], [17.4011, 78.563]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 0.5, "stroke": true, "weight": 3}
            ).addTo(map_f8d864709df164d37189b88e4a0b2a97);
        
    
            var poly_line_offset_88f0482da7235a7faaa3e8aa04d94d34 = L.polyline(
                [[17.2654, 78.4301], [17.33325, 78.49655], [17.4011, 78.563]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": [10, 100], "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "offset": 0, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_f8d864709df164d37189b88e4a0b2a97);
        
    
            poly_line_ec9c08f40412a730c82df69151edf5ec.setText(
                "0.19 km",
                {"align": "center", "below": false, "center": true, "fontSize": 60, "offset": 10, "opacity": 0.7, "orientation": 0, "repeat": false, "textColor": "black", "weight": 0}
            );
        
    
            var poly_line_7f344a4bffc5700c58db5729dc5934b8 = L.polyline(
                [[17.3673, 78.3744], [17.5076, 78.4301]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 0.5, "stroke": true, "weight": 3}
            ).addTo(map_f8d864709df164d37189b88e4a0b2a97);
        
    
            var poly_line_offset_193f4b0a2132aa3de5c8fd3d13646ac5 = L.polyline(
                [[17.3673, 78.3744], [17.43745, 78.40225], [17.5076, 78.4301]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": [10, 100], "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "offset": 0, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_f8d864709df164d37189b88e4a0b2a97);
        
    
            poly_line_7f344a4bffc5700c58db5729dc5934b8.setText(
                "0.15 km",
                {"align": "center", "below": false, "center": true, "fontSize": 60, "offset": 10, "opacity": 0.7, "orientation": 0, "repeat": false, "textColor": "black", "weight": 0}
            );
        
    
            var poly_line_9714374ec21bf97a816c008245866ab0 = L.polyline(
                [[17.3662, 78.4412], [17.5076, 78.4301]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 0.7, "smoothFactor": 0.5, "stroke": true, "weight": 3}
            ).addTo(map_f8d864709df164d37189b88e4a0b2a97);
        
    
            var poly_line_offset_b0dbe3b2ccf96f0ba5c143dce9c3c177 = L.polyline(
                [[17.3662, 78.4412], [17.4369, 78.43565], [17.5076, 78.4301]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": [10, 100], "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "offset": 0, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_f8d864709df164d37189b88e4a0b2a97);
        
    
            poly_line_9714374ec21bf97a816c008245866ab0.setText(
                "0.14 km",
                {"align": "center", "below": false, "center": true, "fontSize": 60, "offset": 10, "opacity": 0.7, "orientation": 0, "repeat": false, "textColor": "black", "weight": 0}
            );
        
</script>
</html>