{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Input</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        <label for="Source">Source:</label><br><br>
        <input type="text" id="Source" name="Source"><br><br>
        <label for="Destination">Destination:</label><br><br>
        <input type="text" id="Destination" name="Destination"><br><br>
        <label for="Dict_Node">Dictionary of Nodes:</label><br><br>
        <textarea id="Dict_Node" name="Dict_Node" rows="4" cols="50"></textarea><br><br>
        <input type="submit" value="Submit">
      </form>
</body>
</html>